* {
  padding: 0;
  margin: 0;
  border: 0;
  top: 0;
  border-radius: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 0;
  x-overflow: hidden;
}

body,
html {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #eee;
}


#leaderboardContainer {
  max-width: 20vw;
  padding:5px;
  width: 100%;
  margin: auto auto;
  border-collapse: collapse;
  //box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border-spacing: 0;
  //top: -180px;
}

.titlerow th {
  color:#fff;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  font-size:2rem;
  font-weight: 100;
  padding: 24px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  text-align: center;
}

.titlerow th:first-child {
  border-top-left-radius: 25px;
}

.titlerow th:nth-child(2) {
  border-right: 1px solid #343a45;
  border-left: 1px solid #343a45;
}

.titlerow th:nth-child(3) {
  border-right: 1px solid #343a45;
  border-left: 1px solid #343a45;
}

.titlerow th:last-child {
  border-top-right-radius: 25px;
}

.iota {
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.iota td {
  background:#FFFFFF;
  padding:20px;
  text-align: center;
  vertical-align: middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
}
